.price_sec {
  background-color: #6425cb;
}
.price_block {
  width: 1160px;
  /* height: 710px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 110px;
}
.price_block h2 {
  font-weight: 400;
  font-size: 38px;
  line-height: 147%;
  color: #fff;
  text-align: center;
}
.price_block_p {
  font-weight: 400;
  font-size: 18px;
  line-height: 189%;
  color: #fff;
  margin-top: 14px;
  text-align: center;
}
.price_list {
  display: flex;
  gap: 40px;
  margin-top: 70px;
  margin-bottom: 50px;
}
.price_card {
  border-radius: 15px;
  width: 360px;
  height: 710px;
  box-shadow: 0 15px 30px 0 rgba(255, 255, 255, 0.04);
  background: #fff;
  padding: 40px 30px 50px 30px;
}
.price_card {
  h3 {
    font-weight: 400;
    font-size: 22px;
    line-height: 136%;
    color: #f4ab00;
    text-align: center;
  }
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #5b25b3;
    margin-top: 20px;
    text-align: center;
    position: relative;
  }
  p span {
    font-weight: 400;
    font-size: 50px;
    line-height: 72%;
    color: #5b25b3;
    position: relative;
    top: -15px;
  }
}
.feature_list {
  margin-top: 40px;
}
.feature_list li {
  height: 48px;
  display: flex;
  gap: 10px;
}
.price_btn {
  width: 168px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  border: none;
  margin: 0 auto;
}
.active_plan {
  transition: 0.3s ease;
  background-color: #f4ab00;
}
