.howwork_sec {
  background-color: #6425cb;
}
.howwork_sec_maininfo {
  height: 862px;
}
.howwork_sec_maininfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1160px;
  margin: 0 auto;
}
.howwork_sec_list {
  display: flex;
  gap: 120px;
  margin-top: 89px;
}
.howwork_sec_maininfo h2 {
  font-weight: 400;
  font-size: 42px;
  line-height: 133%;
  text-align: center;
  color: #fff;
  display: block;
  width: 417px;
}
.howwork_sec_maininfo span {
  color: #f4ab00;
}
.howwork_sec_maininfo p {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin-top: 22px;
}
.howwork_sec_list li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 266px;
  height: 204px;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  color: #fff;
}
.howwork_sec_list h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #fff;
}
.howwork_sec_list p {
  height: 84px;
}
.howwork_sec_block {
  position: relative;
}
.howwork_sec_line1 {
  position: absolute;
  top: 100;
  left: 180px;
}
.howwork_sec_line2 {
  position: absolute;
  top: 100;
  left: 580px;
}
