.form_sec {
  background-color: #fff;
  position: relative;
}
.form_sec_list {
  display: flex;
  gap: 30px;
  margin: 0 auto;
  width: 1160px;
  position: relative;
  top: -150px;
  z-index: 9999;
}
.form_sec_list li {
  background-color: #fff;
  width: 367px;
  height: 283px;
  display: flex;
  gap: 18px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 16px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.07);
}
.form_sec_list li h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #2c1258;
}
.form_sec_list li p {
  font-weight: 400;
  font-size: 15px;
  line-height: 187%;
  text-align: center;
  color: #604b83;
}
