.payment_page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: linear-gradient(180deg, #0f172a, #020617);
  padding: 40px 20px;
}

.card {
  // background: #0b1220;
  border: 1px solid #1e293b;
  border-radius: 20px;
  padding: 40px 32px;
  width: 100%;
  max-width: 420px;
  text-align: center;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
}

.card h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 28px;
}

.plan_block {
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 30px;
}

.plan_block h3 {
  color: #e2e8f0;
  margin-bottom: 10px;
  font-size: 22px;
}

.desc {
  color: #94a3b8;
  font-size: 14px;
}

.pay_btn {
  width: 100%;
  background: linear-gradient(135deg, #22c55e, #16a34a);
  border: none;
  border-radius: 12px;
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 0.25s;
}

.pay_btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(34, 197, 94, 0.4);
}

.secure {
  margin-top: 14px;
  font-size: 12px;
  color: #64748b;
}
