.gettouch_sec {
  background-color: #2c1258;
}
.gettouch_sec h2 {
  padding-top: 110px;
  text-align: center;
  font-weight: 400;
  font-size: 42px;
  line-height: 133%;
  color: #fff;
}
.gettouch_sec p {
  padding-top: 11px;
  padding-bottom: 100px;
  font-weight: 400;
  font-size: 18px;
  line-height: 189%;
  text-align: center;
  color: #fff;
}
