:root {
  width: 1440px;
  background-color: #fff;
  margin: 0 auto;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
