.service_sec {
  width: 1160px;
  height: 767px;
  margin: 0 auto;
}
.service_sec h2 {
  font-weight: 400;
  font-size: 42px;
  line-height: 133%;
  text-align: center;
  color: #2c1258;
  margin-top: 70px;
}
.service_list {
  display: flex;
  gap: 34px;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-top: 30px;
}
.service_list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #2c1258;
}
.service_list li {
  width: 165px;
  height: 110px;
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.service_list_active {
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.05);
  background-color: #f4ab00;
  border-radius: 4px;
}
.service_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service_info_first {
  display: flex;
  flex-direction: column;
  width: 580px;
  height: 481px;
}
.service_info_first li {
  display: flex;
  gap: 17px;
  align-items: center;
}
.service_info_btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  color: #fff;
  width: 186px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  background-color: #f4ab00;
  border: none;
  cursor: pointer;
}
.service_info_first h3 {
  font-weight: 400;
  font-size: 34px;
  line-height: 159%;
  color: #2c1258;
  margin-top: 50px;
}
.service_info_first p {
  margin-top: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 189%;
  color: #604b83;
}
.service_list_item {
  cursor: pointer;
}
.service_desc_list {
  margin-top: 20px;
  display: flex;
  gap: 17px;
  flex-direction: column;
}
.service_desc_list li {
  display: flex;
  gap: 17px;
  align-items: center;
}
.service_desc_list p {
  margin: 0;
}
.service_desc_list_btn {
  margin-top: 30px;
  width: 186px;
  height: 52px;
  border-radius: 32px;
  background-color: #f4ab00;
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
}
