.strategy_section {
  position: relative;
}
.strategy_first_block {
  width: 1160px;
  height: 518px;
  border-radius: 10px;
  box-shadow: 9px 9px 35px 0 rgba(56, 11, 113, 0.1);
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 80px 100px;
}
.strategy_list {
  list-style: none;
  width: 500px;
  height: 318px;
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.strategy_first_block_main {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 20px;
  justify-content: space-between;
}
.strategy_first_block_main :first-child {
  font-weight: 400;
  font-size: 19px;
  line-height: 158%;
  color: #f4ab00;
}
.strategy_first_block_main h2 {
  font-weight: 400;
  font-size: 42px;
  line-height: 133%;
  color: #2c1258;
}
.strategy_first_block_main :last-child {
  font-weight: 400;
  font-size: 18px;
  line-height: 189%;
  color: #604b83;
}
.strategy_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.strategy_item h3 {
  font-weight: 400;
  font-size: 19px;
  line-height: 158%;
  color: #2c1258;
}
.strategy_item p {
  font-weight: 400;
  font-size: 15px;
  line-height: 187%;
  color: #604b83;
}
.strategy_second_block {
  width: 1160;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 55px;
  margin: 0 auto;
  margin-top: 390px;
}
.strategy_sec_bl_frame {
  display: flex;
  gap: 55px;
  margin-bottom: 140px;
}
.strategy_sec_bl_frame:last-child {
  flex-direction: row-reverse;
  margin-bottom: 80px;
}
.strategy_sec_bl_frame_span {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #f4ab00;
}
.strategy_sec_bl_frame_hero {
  font-weight: 400;
  font-size: 42px;
  line-height: 133%;
  color: #2c1258;
}
.strategy_sec_bl_frame_par {
  font-weight: 400;
  font-size: 18px;
  line-height: 189%;
  color: #604b83;
}
.strategy_sec_bl_frame_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  height: 168px;
}
.strategy_sec_bl_frame_list li {
  display: flex;
  align-items: center;
  height: 30px;
  gap: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #2c1258;
}
.strategy_sec_bl_text {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.strategy_sec_bl_frame_sec_list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.strategy_sec_bl_frame_sec_list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 253px;
  height: 114px;
  background-color: #f6f1ff;
  padding: 25px;
}
.strategy_sec_bl_frame_sec_list li p {
  width: 85px;
  font-weight: 400;
  font-size: 28px;

  line-height: 129%;
  color: #2c1258;
  span {
    font-weight: 400;
    font-size: 15px;

    line-height: 187%;
    color: #2c1258;
  }
}
