.feedback_sec {
  position: relative;
  padding: 100px 0;
}

.feedback_block {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.comment_card {
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}

.comment_text {
  font-size: 16px;
  margin-bottom: 20px;
}

.comment_user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  img {
    border-radius: 50%;
  }
}
