.feedback_sec {
  position: relative;
}

.feedback_block {
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 110px;
}

.comment_card {
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}
.feedback_block h2 {
  font-weight: 400;
  font-size: 42px;
  line-height: 133%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2c1258;
}
.comment_text {
  font-weight: 400;
  font-size: 24px;
  line-height: 180%;
  text-align: center;
  color: #604b83;
}

.comment_user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  img {
    border-radius: 50%;
  }
  h4 {
    font-weight: 400;
    font-size: 19px;
    line-height: 158%;
    color: #604b83;
  }
  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #604b83;
  }
}
.feedback_block_tools {
  margin: 0 auto;
  display: block;
  align-items: center;
}
