.news_sec {
  background-color: #e5d8fa;
}
.news_block {
  width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 90px;
}
.news_block h2 {
  font-weight: 400;
  font-size: 42px;
  line-height: 133%;
  color: #2c1258;
}
.news_block_p {
  margin-top: 11px;
  font-weight: 400;
  font-size: 18px;
  line-height: 189%;
  color: #604b83;
}
.news_block_list {
  display: flex;
  gap: 16px;
}
.news_block_list > li {
  width: 376px;
  height: 480px;
  background-color: #fff;
}
.news_block_list > li > p {
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  text-align: center;
  color: #2c1258;
  margin-top: 20px;
  margin-bottom: 60px;
}
.news_block_list_child {
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #604b83;
}
.news_block_btn {
  all: unset;
  margin-top: 60px;
  margin-bottom: 140px;
  border: 2px solid #2c1258;
  border-radius: 32px;
  width: 179px;
  height: 54px;
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #2c1258;
  background-color: inherit;
  cursor: pointer;
  transition: 0.25s;
}
.news_block_btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 24px rgba(108, 92, 231, 0.25);
}
